<!-- !Borrar la contraseña para no iniciar sesión a cada rato -->
<main class="contenedor contenedor-formularios">
    <h1><%- title %></h1>

    <form action="/login" method="POST" class="default-form">
        <div class="campo">
            <label>Correo</label>
            <input value="lesthoward@gmail.com" type="text" name="email" placeholder="correo@correo.com">
        </div>
        <!-- campo -->
        <div class="campo">
            <label>Contraseña</label>
            <input value="holA123." type="password" name="password" placeholder="Contraseña confidencial">
        </div>
        <!-- campo -->
        <div class="campo enviar">
            <input type="submit" class="btn btn-rosa" value="Iniciar sesión">
        </div>
        <!-- campo -->
    </form>
    <!-- default-form -->
</main>