<main class="contenedor panel-administracion">

<main class="contenedor panel-administracion">
    <h1><%= title %> </h1>

    <div class="contenedor-botones">
        <a href="/group/new" class="btn btn-amarillo">Crear grupo</a>
        <a href="/group/meeti" class="btn btn-azul">Nuevo Meeti</a>
        <a href="/user/edit" class="btn btn-rosa">Editar perfil</a>
        <a href="/user/image" class="btn btn-amarillo">Imagen de perfil</a>
    </div>

    <div class="seccion-admin">
        <h2>Tus eventos</h2>
        <ul>
            <li>
                <div class="informacion-admin">
                    <p class="fecha">Domingo 26 de Septiembre</p>
                    <h3>E-Commerce en Costa Rica</h3>
                    <small>25 asistentes</small>
                </div>
                <div class="acciones contenedor-botones">
                    <a href="#" class="btn btn-verde">Editar</a>
                    <a href="#" class="btn btn-azul">Asistentes</a>
                    <a href="#" class="btn btn-rojo">Eliminar</a>
                </div>
            </li>
        </ul>
    </div>

    <div class="seccion-admin">
        <h2>Tus grupos</h2>
        <ul>
            <li>
                <div class="informacion-admin">
                    <h3>BlockChain en San José</h3>
                </div>
                <div class="acciones contenedor-botones">
                    <a href="#" class="btn btn-verde">Editar</a>
                    <a href="#" class="btn btn-azul2">Imagen</a>
                    <a href="#" class="btn btn-rojo">Eliminar</a>
                </div>
            </li>
        </ul>
    </div>
</main>