<main class="contenedor asistentes">
    <h1><%= title %></h1>
    <% if (assistantsArr.length) { %>
        <ul class="listado-asistentes">
            <% assistantsArr.forEach(assistant => { %>
                <li>
                    <div class="imagen">

                    </div>
                    <div class="texto">
                        <%= assistant.name %> 
                    </div>
                </li>
            <% }) %>
        </ul>     
    <% } else {%>
        <p class="no-asistentes">No hay asistentes</p>
    <% } %> 
</main>