<main class="contenedor contenedor-formularios">
    <h1><%- title %></h1>
    <form class="default-form" method="POST">
        <legend>Estás a punto de eliminar el Meeti: <%= meeti.title %>  </legend>
        <!-- campo -->
        <div class="campo enviar">
            <input type="submit" class="btn btn-rosa" value="Eliminar Meeti">
        </div>
    </form>
</main>
