<main class="contenedor contenedor-formularios no-padding">
    <h1><%- title %></h1>

    <form class="default-form" method="POST">
        <div class="campo">
            <label>Contraseña actual</label>
            <input type="password" name="current_password" placeholder="La que quieres cambiar">
        </div>
        <div class="campo">
            <label>La nueva contraseña</label>
            <input type="password" name="password" placeholder="Por cual quieres cambiarla">
        </div>
        <div class="campo enviar">
            <input type="submit" class="btn btn-rosa" value="Cambiar contrasena">
        </div>
    </form>
</main>